*~
.*.sw?
*.o
*.la
*.lo
.deps
.libs
ltmain.sh
libool
install-sh
Makefile.in
Makefile
config.h.in
config.h
config.log
config.guess
config.sub
depcomp
aclocal.m4
libtool
config.status
configure
missing
lyd.pc
lyd-0.0.pc
