*~
.*.sw?
*.o
*.la
*.lo
.deps
.libs
ltmain.sh
libool
install-sh
Makefile.in
Makefile
config.h.in
config.h
config.log
config.guess
config.sub
depcomp
aclocal.m4
libtool
config.status
configure
stamp-h1
autom4te.cache
missing
lyd.pc
lyd-0.0.pc
bin/lyd
examples/lyd-hi
examples/interpolated-param
examples/scale
